.astro-report-main {
    background-color: #ffffff;
    padding: 10px;
}

.astro-report-titlebar {
    height: 20px;
    margin-bottom: 5px;
}

.astro-report-title {
    display: inline-block;
    font-weight: 500;
    font-size: 90%;
}

.astro-report-seeall-container {
    display: block;
    float: right;
}

.astro-report-description {
    font-weight: 100;
    font-size: 75%;
    padding: 1px;
}

.astro-report-type-container{
    margin-top: 10px;
    background-color: #ffffff;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    text-align: left;
}

.astro-report-type-card{
    display: inline-block;
    height: 100%;
    width: 70%;
    margin: 2px;
    border-radius: 10px;
}

.astro-report-type-title-rating{
    white-space: nowrap;
    width: 100%;
}

.astro-report-type-title{
    display: inline-block;
    font-size: 70%;
    font-weight: 500;
    width: 70%;
}

.astro-report-type-rating {
    text-align: right;
    height: 100%;
    display: inline-block;
    font-size: 70%;
    width: 30%;
}

.astro-report-type-skill{
    margin-top: 10px;
    font-size: 60%;
    font-weight: 100;
    margin-bottom: 10px;
}

.astro-report-type-charges{
    font-size: 60%;
    font-weight: 200;
}

.astro-report-type-img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
}