.astro-talk-card{
    display: inline-block;
    width: 100%;
    padding: 5px;
    box-shadow: 1px 1px #888888;
}

.astro-talk-card-img-container {
    display: inline-block;
    margin-top: 1px;
    width: 30%;
    vertical-align: top;
}

.astro-talk-card-details {
    display: inline-block;
    width: 50%;
    padding-left: 10px;
}

.astro-talk-card-title{
    font-size: 80%;
    font-weight: 700;
}


.astro-talk-card-skill{
    margin-top: 2px;
    font-size: 70%;
    font-weight: 100;
}

.astro-talk-card-language{
    margin-top: 3px;
    font-size: 60%;
    font-weight: 100;
}

.astro-talk-card-charges{
    margin-top: 3px;
    font-size: 70%;
    font-weight: 400;
}

.astro-talk-card-rating {
    margin-top: 5px;
    text-align: center;
    height: 100%;
    float: right;
    font-size: 80%;
    font-weight: 300;
    width: 20%;
}