.astro-nav {
    background-color: #ffffff;
    height: 10%;
    white-space: nowrap;
}

.astro-tab-container{
    height: 100%;
    display: inline-block;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
}