.talk-container {
    height: 100%;
}

.astro-talk-search {
    padding-left: 10px;
    padding-right: 10px;
}

.astro-talk-sort-title {
    color: #ff9933;
}

.astro-talk-sort-option {
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-input-icon-left {
    width: 100%;
}

input {
    width: 100%;
}